body {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.logo {
  height: 23px;
}
.logo img {
  max-height: 100%;
  max-width: 100%;
}

.hero {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero__row {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4dvh 0 8dvh;
  box-sizing: border-box;
}
.hero__center {
  color: #fff;
  text-align: center;
}
.hero__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0.1em;
  margin: 0 0 2dvh 0;
}
.hero__desc {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.hero__desc > *:first-child {
  margin-top: 0;
}
.hero__desc > *:last-child {
  margin-bottom: 0;
}
.hero__scroll {
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.34em;
  animation: scroll 4s infinite forwards;
}

@keyframes scroll {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}