$bebas:"Bebas Neue", sans-serif;
$openSans:"Open Sans", sans-serif;


body{
    font-family: $openSans;
    font-size: 23px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}

.container{
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    // мы добавили 30 px паддинга к мак видтх так как поставили бокс сайзингчтобы сохранить макетность
    
}

// пэшку завернули в див, и ей уберем марджиниы снизу и сверху чтобы на сиэмс в админке при редактировании рукожопы не сломали нашу супер верстку
// 100dvh динамическая высота - для мобил с челкой

.logo{
    display: flex;
    height: 23px;
    &--lit{
        height:18px;
    }
    img{
        max-height: 100%;
        max-width: 100%;
    }
}

.btn{
    border: none;
    text-decoration: none;
    outline: none;
    background-color: #00a4e5;
    color: #fff;
    transition: .3s;
    min-width: 150px;
    padding: 13.5px 10px;
    box-sizing: border-box;
    display: inline-flex;
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
    // обнуляем стили для всех кнопок на будущее
}




.hero{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
       &__row{
        height: calc(100dvh - 65px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 4.7dvh 0 7.1dvh;
        box-sizing: border-box;
        // height: calc (100dvv- 68px) нижнему хедеру с нав меню с высотой 68пкс
        // чтоб он был снизу виден книзу, а ему позишн стики топ ноль лефт ноль
        // 
    }
    &__center{
        color: #fff;
        text-align: center;
        padding-top: 15dvh;


    }
    &__title{
        font-family: $bebas;
        font-weight: 400;
        font-size: 60px;
        letter-spacing: 0.1em;
        margin: 0 0 0.5dvh 0;
        
    }
    &__desc{
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        
        
        > *:first-child{
            margin-top: 0;
        }
        > *:last-child{
            margin-bottom: 0;
        }

    }
    &__scroll{
        color: #fff;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.34em;
        animation: scroll 4s infinite forwards;
    }
}

@keyframes scroll{
    0% {
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-20px);
    }
}

.header {
    height: 65px;
    padding: 10px 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu{
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
    &__item + &__item{
        margin-left: 35px;
        // ко всем кроме первого левый марджин
        // можно сделать &__item:not(:last0child){марджин райт}
        // всем кроме последнего правый марджин
    }

    &__link{
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.09em;
        color: #48555b;
        text-decoration: none;
        transition: 0.3s;
        text-transform: uppercase;
        &:hover{
            color: #00a4e5;
            text-shadow: 0 0 1px #00a4e5;
        }
    }
}

.section-title{
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    position: relative;

    &:after{
        content: "";
        position: absolute;
        top: calc(100% + 11px);
        left: 0;
        height: 2px;
        width: 52px;
        background-color: #00a4e5;
    }
    &--center{
        text-align: center;
        &:after{
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.story{
    padding: 57px 0;
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 80px;
    }
    &__left{
        width: 40%;
    }
    &__right{
        width: 50%;
    }
}

.text__content{
    > *:first-child{
        margin-top: 0;
    }
    > *:last-child{
        margin-bottom: 0;
    }
    h3{
        font-size: 20px;
        letter-spacing: 0.01em;
        margin: 30px 0;
        line-height: normal;
        span{
            color: #16ace8;
        }
    }
    p{
        font-size: 13px;
        line-height: 177%;
        letter-spacing: 0.01em;
        margin: 30px 0;
    }
}

.we-do{
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
        
    }
    &__col{
        width: 33.3%;
        padding: 10px;
        box-sizing: border-box;
    }
    &-item{
        position: relative;
        height: 224px;
        display: block;
        text-decoration: none;
        overflow: hidden;
        &:hover{
            .we-do-item__image{
                transform: scale(1.1);
            }
        }

        &__image{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transition: 0.3s;
        }
        &__content{
            position: relative;
            z-index: 10;
            padding: 20px;
            box-sizing: border-box;
        }
        &__title{
            font-weight: 800;
            font-size: 24px;
            line-height: 121%;
            letter-spacing: 0.01em;
            color: #fff;
        }
    }

}

.section-head{
    display: flex;
    align-items: flex-start;
    margin-bottom: 76px;


    &__desc{
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 11px;
    line-height: 173%;
    max-width: 406px;
    margin-left: auto;
    margin-right: 32px;
    // не используем джастифай контент чтобы было по макету - 
    // так как центральный и првавый блоки прижаты вправо
    }
}

.capab{
    padding: 59px 0;
    box-sizing: border-box;
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: -14px;
    }
    &__col{
        padding: 14px;
        box-sizing: border-box;
        width: 33.3%;
    }
}

.capab-item{
    padding: 38px 20px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    height: 100%;
    // хейт 100% задали чтобы флексовыя колонка растянулась в случае
    // с добавлением текста чтобы колонки расширились одинаково
    &__icon{
        height: 75px;
        width: 65px;
        margin-bottom: 25px;
    }
    &__title{
        margin: 0 0 13px 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.03em;
    }
    &__desc{
        margin: 0 0 13px 0;
        font-size: 13px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.01em;
    }
}

.offer{
    background-image: url(../img/offerbg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 120px 0 232px;
    margin-top: 56px;
    text-align: center;
    position: relative;

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        // чтоб при уменьшении картинка не обрезалась сверху
        // а красиво уходила в градиент
    }
    

    &__title{
        max-width: 350px;
        margin: 0 auto 35px;
        font-size: 30px;
        line-height: 120%;
        letter-spacing: 0.01em;
        
    }

}

.subscribe{
    background-color: #171819;
    padding: 30px 0;

    &__row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    &__title {
        font-size: 22px;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
    }

    &__form{
        display: flex;
    }

    &__input{
        outline: none;
        border: 1px solid #979797;
        background-color: #fff;
        padding: 0 16px;
        box-sizing: border-box;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #48555b;
        // паддинг препятствует прилипанию текста справа при переполнении формы
        // длинным емаилом

    }
}


.footer{
    
    background-color: #141a20;
    
    > .container{
        padding: 42px 15px 50px;
    }


    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: -14px;
    }
    &__col{
        padding: 14px;
        box-sizing: border-box;
        &--w33{
            width: 33.3%;
        }
        &--w16{
            width: 16.6%;
        }
    }

    &__menu{
        margin-top: -15px;
    }


    &__title{
        color: #fff;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.08em;
    }

    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
        columns: 3;
        line-height: 1;
        
        a{
            font-size: 11px;
            font-weight: 600;
            line-height: 227%;
            letter-spacing: 0.08em;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    &__title{
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.08em;
        margin: 0 0 15px 0;
        
    }
    &__logo{
        margin-bottom: 15px;
    }

    &__desc{
        font-size: 11px;
        line-height: 173%;
        letter-spacing: 0.08em;
        color: #fff;
    }

    &__info{
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    p{
        margin: 0;
    }

    a{
        color: #fff;
        text-decoration: none;
        &:hover{
            color: greenyellow;
        }
    }

    }
    &__social{
        padding-top: 30px;
    }
}

.social{
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        gap: 25px;
    }

}

.copyright{
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: #fff; 
    background-color: #171819;   
    padding: 22px 0;
    text-align: center;
}


@media (max-width:1024px){
    .section-head{
        margin-bottom: 40px;
        flex-direction: column;

        &__desc{
            margin: 25px 0 10px;
        }
    }
}

@media (max-width:768px){
    .footer{
        &__col--w33{
            width: 50%;
        }
        &__col--w16{
            width: 100%;
        }
        &__col{
            padding: 5px 14px;
        }
        &__row{
            margin: -5px -14px;
        }
        &__social{
            padding-top: 0;
        }
        &__title{
            line-height: normal;
        }
        &__menu{
            margin-top: 0;
        }

        > .container{
            padding: 20px 15px;
        }
    }

    .copyright{
        padding: 10px 0;
    }

    .capab{
        position: relative;
        overflow: hidden;
        padding: 30px 0;
        &__row{
            flex-wrap: nowrap;
            overflow-x: auto;
            margin: 0 -15px;
            padding: 0 15px;
            gap: 10px;
            &::-webkit-scrollbar{
                background-color: transparent;
                width: 0;
            }
        }
        &__col{
            width: 300px;
            flex-shrink: 0;
            padding: 0;
        }
    }

    .hero{
        &__title{
            font-size: 40px;
            line-height: 1.2;
        }
    }

    .story{
        padding: 30px 0;
        &__row{
            margin-top: 40px;
            flex-direction: column;
            gap: 30px;
            
        }
        &__left,
        &__right{
            width: 100%;
        }
    }

    .text__content{
        h3,
        p{
            margin: 15px 0;
        }
    }

    .subscribe{
        &__row{
            flex-direction: column;
            gap: 10px;
        }
    }

}





