$Bebas:"Bebas Neue", sans-serif;
$openSans: "Open Sans", sans-serif;

body{
    font-family: $openSans;
    font-size: 23px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}
.container{
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;   // так как поставили box-sizing добавялем паддинги (их 30пкс) к ширине
    // p заворачиваем в див и уберем через класс див марджины сверху и снизу
    // высота в dvh это динамическая единица высоты экрана(учитывает челку iphona), лучшее ее использовать
}
.logo{
    display: flex;
    height: 23px;
    &--lit{
        height: 18px;
    }
    img{
        max-height: 100%;
        max-width: 100%;
    }
}
.btn{
    border: none;
    text-decoration: none;
    outline: none;
    background-color: #00A4E5;
    color: #fff;
    transition: .3s;
    min-width: 150px;
    padding: 13.5px 10px;
    box-sizing: border-box;
    display: inline-flex;
    // width: max-content; min-content
    font-size: 13px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    &:hover{
        opacity: 0.7;

    }
}

.hero{
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    &__row{
        height: calc(100dvh - 65px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 4.7dvh 0 7.1dvh;
        box-sizing: border-box;
    }
    &__center{
        color: #fff;
        text-align: center;
        padding-top: 15dvh;
    }
    &__title{
        font-family: $Bebas;
        font-weight: 400;
        font-size: 60px;
        letter-spacing: 0.1em;
        margin: 0 0 0.5dvh 0;
    }
    &__desc{
        font-weight: 600;
        font-size: 16px;

        > *:first-child{
            margin-top: 0;    
        }
        > *:last-child{
            margin-bottom: 0;
        }
    }
    &__scroll{
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.34em;
        text-align: center;
        color: #fff;
        animation: ease-in-out scroll 3s infinite forwards;
    }

}
@keyframes scroll{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-20px);
    }
}
.header{
    position: sticky;
    left: 0;
    right: 0;
    padding: 10px 0 10px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;

    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
}
.menu{
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
    &__item + &__item{   
        // применение свойств ко всем item кроем первого
        margin-left: 35px;
    }
    &__link{
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.09em;
        color: #48555b;
        text-decoration: none;
        transition: 0.3s;
        text-transform: uppercase;
        &:hover{
            color: #00a4e5;
            text-shadow: 0 0 1px #00a4e5;
        }
    }
}
.section-title{
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    position: relative;
    margin-top: -12px;
    &:after{
        content: '';
        position: absolute;
        top: calc(100% + 3.5px);
        height: 2px;
        width: 52px;
        background-color: #00a4e5;
        left: 0;
    }
    &--center{
        text-align: center;
        &:after{
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.story{
    padding: 57px 0;
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 80px;
    }
    &__left{
        width: 40%;
    }
    &__right{
        width: 50%;
    }
}
.text-content{
    > *:first-child{
        margin-top: 0;
    }
    > *:last-child{
        margin-bottom: 0;
    }
    h3{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.01em;
        line-height: normal;
        margin: 20px 0;
        span{
            color: #16ace8;
        }
    }
    p{
        font-size: 13px;
        line-height: 177%;
        letter-spacing: 0.01em;
        margin: 30px 0;
    }
}
.we-do{
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
    }
    &__col{
        width: 33.3%;
        padding: 10px;
        box-sizing: border-box;
    }
    &-item{
        position: relative;
        height: 224px;
        display: block;
        text-decoration: none;
        overflow: hidden;
        &:hover{
            .we-do-item__image{
                transform: scale(1.1);
            }
        }

        &__image{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            // object всегда лучше применять для image
            transition: .3s;

        }
        &__content{
            position: relative;
            z-index: 10;
            padding: 20px;
            box-sizing: border-box;
        }
        &__title{
           
            font-weight: 800;
            font-size: 24px;
            line-height: 121%;
            letter-spacing: 0.01em;
            color: #fff;
        }
    }
}
.section-head{
    display: flex;
    align-items: flex-start;
    margin-bottom: 76px;
    &__desc{
        font-weight: 400;
        font-size: 11px;
        line-height: 173%;
        letter-spacing: 0.02em;
        color: #48555b;
        max-width: 406px;
        margin-left: auto;
        margin-right: 32px;
    }
}
.capab{
    padding: 59px 0;
    box-sizing: border-box;
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: -14px;
    }
    &__col{
        padding: 14px;
        box-sizing: border-box;
        width: 33.3%;
    }
    
}
.capab-item{
    padding: 38px 20px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    height: 100%; 
    // height чтобы все блоки были одинаковой высоты при разном количестве текста
    &__icon{
        width: 65px;
        height: 75px;
        margin-bottom: 25px;
    }
    &__title{
        margin: 0 0 13px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
    }
    &__desc{
        font-weight: 400;
        font-size: 13px;
        line-height: 177%;
        letter-spacing: 0.01em;
    }
}
.offer{
    position: relative;
    margin-top: 56px;
    padding: 120px 0 232px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    text-align: center;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }

    &__title{
        max-width: 350px;
        margin: 0 auto 32px;
        padding-top: 12px;
        font-size: 30px;
        line-height: 120%;
        letter-spacing: 0.01em;
    }
}
.subsribe{
    background-color: #171819;
    padding: 30px 0;
    &__row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }
    &__title{
        margin: 0;
        font-size: 22px;
        letter-spacing: 0.04em;
        color: #fff;
    }
    &__form{
        display: flex;
    }
    &__input{
        outline: none;
        border: 1px solid #979797;
        background-color: #fff;
        padding: 0 16px;
        box-sizing: border-box;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #48555b;
    }
}
.footer{

    background-color: #141a20;
    > .container {
        padding: 42px 15px 50px;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: -14px;
    }
    &__col{
        padding: 14px;
        box-sizing: border-box;
        &--w33{
            width: 33.3%;
        }
        &--w16{
            width: 16.6%;
        }
    }
    &__title{
        font-weight: 400;
        font-size: 11px;
        letter-spacing: 0.08em;
        color: #fff;
        margin: 0 0 15px 0;
        line-height: 1;
    }
    &__menu{
        margin-top: -15px;
    }
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        columns: 3;

        a{
            font-weight: 600;
            font-size: 11px;
            line-height: 227%;
            letter-spacing: 0.08em;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
        }
        
    }    
    &__logo{
        margin-bottom: 15px;
    }
    &__desc{
        font-weight: 400;
        font-size: 11px;
        line-height: 173%;
        letter-spacing: 0.08em;
        color: #fff;
    }
    &__info{
        font-weight: 400;
        font-size: 11px;
        line-height: 145%;
        letter-spacing: 0.08em;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        p{
            margin: 0;
        }
        a{
            color: #fff;
            text-decoration: none;
        }
    }
    &__social{
        padding-top: 15px;
    }
}
.social{
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 25px;
    }
}
.copyright{
    background-color: #171819;
    padding: 22px 0;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #fff;
}




@media (max-width:1024px){
    .section-head{
        margin-bottom: 40px;
        flex-direction: column;
        &__desc{
            margin: 25px 0 10px;
        }
    }
}
@media (max-width:768px){
    .footer{
        &__col--w33{
            width: 50%;
        }
        &__col--w16{
            width: 100%;
        }
        &__col{
            padding: 5px 14px;
        }
        &__row{
            margin: -5px -14px;
        }
        &__social{
            padding-top: 0;
        }
        &__title{
            line-height: normal;
        }
        &__menu{
            margin-top: 0;
        }
        > .container{
            padding: 20px 15px;
        }
    }
    .copyright{
        padding: 10px 0;
    }
    .capab{
        position: relative;
        overflow: hidden;
        padding: 30px 0;
        &__row{
            flex-wrap: nowrap;
            overflow-x: auto;
            padding: 0 15px;
            margin: 0 -15px;
            gap: 10px;
            &::-webkit-scrollbar{
                background-color: transparent;
                width: 0;
            }
        }
        &__col{
            width: 300px;
            flex-shrink: 0;
            padding: 0;
        }
    }
    .hero{
        &__title{
            font-size: 40px;
            line-height: 1.2;
        }
    }
    .story{
        padding: 30px 0;
        &__row{
            margin-top: 40px;
            display: block;
            // flex-direction: column;
            
        }
        &__left,
        &__right{
            width: 100%;
        }
        &__right{
            margin-top: 30px;
        }

    }
}
.text-content{
    h3,
    p{
        margin: 15px 0;
    }
}
.subsribe{
    &__row{
        flex-direction: column;
        gap: 10px;
    }
}
.offer{
    margin-top: 40px;
}